*{
    background-color: #0e0e0e;
    color: #e2e0e4;
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeBtn{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
nav {
    padding: 10px 100px;
}


.team {
    color: #9ba3b4;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
}
.team:hover{
    color: #e2e0e4;
    cursor: pointer;
}

.search{
    padding: 0 20px;
}

.search>input{
    text-align: center;
    border: 1px solid #323232;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 400;
}
::placeholder{
    color: #9ba3b4;
}

.search>button{
    background-color: #0078d4;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    
}

.version{
    text-align: center;
    padding: 20px 0;
    color: #9ba3b4;
    font-size: 14px;
    font-weight: 500;
}

.version>a{
    color: #4daafc;
    font-size: 14px;
    font-weight: 500;
}

.smallBtn {
    cursor: pointer;
    color: #9ba3b4;
    font-weight: 100;
    padding-left: 100px;
}

.main{
    display: flex;
    padding: 40px 80px;
}
.inputBox > input{
    padding: 10px;
    width:65%;
    border: 1px solid rgb(255 255 255 / 7%);
    border-radius: 25px;
    background-color: rgb(255 255 255 / 4%);
    font-size: 14px;
    font-weight: 600;
}
.bigBlock{
    padding: 10px;
    font-size: 56px;
    font-weight: 600;
}

.downloadBtn> button{
    padding: 12px 24px;
    background-color: #0078d4;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.link1, .link2{
    margin: 16px 0 8px 0;
    color: #9ba3b4;
}
    
.link1> a, .link2 > a{
    color: #4daafc;
    font-size: 14px;
    font-weight: 500;
}